.tracked-marker {
  position: relative;
  width: 0;
  height: 0;
}

.tracked-marker__arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid green;
  transform-origin: bottom center;
}

.lost-marker .tracked-marker__arrow {
  border-bottom: 12px solid red;
}
